<template>
  <div>
    <h3 class="vue-title"><i class="fa fa-info" style="padding: 3px"></i>{{messagetitle}}</h3>
    <h3>Name : Yan Hu</h3>
    <h3>Number : 20086446</h3>
  </div>
</template>

<script>/* eslint-disable */
  export default {
    name: 'AboutUs',
    data () {
      return {
        messagetitle: ' About Us '
      }
    }
  }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
