<template>
  <div>
    <h3 class="vue-title"><i class="fa fa-users" style="padding: 3px"></i>{{messagetitle}}
      <el-button style="text-align: right" type="danger" icon="el-icon-edit" @click="writeRecipe"></el-button></h3>
    <el-carousel :interval="4000" type="card" height="400px">
      <el-carousel-item v-for="item in dataimg" :key="item" :disabled="false">
        <h3 class="medium">
          <img :src="item.src" style="height: 100%; width: 100%">
        </h3>
      </el-carousel-item>
    </el-carousel>
    <el-divider content-position="left"><h1>Recipes</h1></el-divider>
    <el-row>
      <el-col :span="5" v-for="(o, index) in recipes.length" :key="o" :offset="index > 0 ? 2 : 0" style="margin-left: 10%; margin-top: 30px; margin-bottom: 30px">
        <el-card :body-style="{ padding: '15px' }">
          <div style="padding: 14px;">
            <span style="font-weight: bold">{{recipes[index].name}}</span><br>
            <span style="font-style: italic">by {{recipes[index].username}}</span>
            <div class="bottom clearfix">
              <time class="time">{{ recipes[index].date }}</time>
              <br>
              <br>
              <el-badge :value="recipes[index].like" class="item">
              <el-button type="primary" class="button" icon="el-icon-collection-tag" @click="upLike(recipes[index])">Like</el-button>
              </el-badge>
              <br>
              <br>
              <el-collapse>
                <el-collapse-item>
                  <template slot="title">type <el-badge :value="recipes[index].type.length" class="item"></el-badge>
                  </template>
                  <div id="type1" v-for="type in recipes[index].type" :key="type">
                    <div style="font-style: italic">{{type}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">ingredients <el-badge :value="recipes[index].ingredients.length" class="item"></el-badge>
                  </template>
                  <div id="ingredients1" v-for="ingredients in recipes[index].ingredients" :key="ingredients">
                    <div style="font-style: italic">{{ingredients}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">process <el-badge :value="recipes[index].process.length" class="item"></el-badge>
                  </template>
                  <div id="process1" v-for="process in recipes[index].process" :key="process">
                    <div style="font-style: italic">{{process}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
              </el-collapse>
              <el-collapse>
                <el-collapse-item>
                  <template slot="title">Comment <el-badge :value="recipes[index].comment.length" class="item"><i class="header-icon el-icon-chat-line-round"></i></el-badge>
                  </template>
                  <div id="comment1" v-for="comment in recipes[index].comment" :key="comment">
                    <div style="font-style: italic">{{comment.username}}: {{comment.text}}</div>
                    <div>time: {{comment.date}}</div>
                    <el-divider></el-divider>
                  </div>
                  <el-input v-model="newComment"></el-input><el-button style="margin-top: 10px" @click="addComment(recipes[index]._id)">Comment</el-button>
                </el-collapse-item>
              </el-collapse>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-divider content-position="left"><h1>Data Table</h1></el-divider>
<!--    <h3>{{recipes}}</h3>-->
    <div id="app1" style="margin-top: 50px">
      <v-client-table :columns="columns" :data="recipes" :options="options">
      </v-client-table>
    </div>
  </div>
</template>

<script>/* eslint-disable */

import RecipeService from '@/services/recipeservice'
import Vue from 'vue'
import VueTables from 'vue-tables-2'

Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

  export default {
    name: 'Community',
    data () {
      return {
        dataimg: [
          { src: require('@/assets/olive-oil.jpg')
          },
          { src: require('@/assets/asparagus.jpg')
          },
          { src: require('@/assets/hamburger.jpg')
          },
          { src: require('@/assets/salad.jpg')
          },
          { src: require('@/assets/shish-kebab.jpg')
          },
        ],
        messagetitle: ' Community ',
        recipes: [],
        errors: [],
        columns: ['_id', 'name', 'username', 'ingredients', 'process', 'type', 'date', 'like', 'comment'],
        options: {
          headings: {
            name: 'Name',
            username: 'User',
            content: 'Content',
            date: 'Date',
            like: 'Like',
            comment: 'Comment'
          }
        },
        newComment: ''
      }
    },
    created () {
      this.loadRecipes()
    },
    methods: {
      loadRecipes: function () {
        RecipeService.fetchRecipes()
          .then(response => {
            // JSON responses are automatically parsed.
            this.recipes = response.data
            console.log(this.recipes)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      writeRecipe: function () {
        this.$router.push('/write')
      },
      upLike: function (recipe) {
        RecipeService.upLike(recipe._id)
          .then(response => {
            this.loadRecipes()
            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      addComment: function (id) {
        let comment = {
          username: this.$store.state.userState,
          text: this.newComment,
          date: Date.now()
        }
        RecipeService.postComment(id, comment)
          .then(response => {
            this.loadRecipes()
            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      }
    }
  }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

  #app1 {
    width: 80%;
    margin: 0 auto;
  }

  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  .time {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }
</style>
