<template>
  <div id="app1">
    <template v-if="childDataLoaded">
    <recipe-form :recipe="recipe" @recipe-is-created-updated="updateRecipe"></recipe-form>
    </template>
  </div>
</template>

<script>/* eslint-disable */
import RecipeService from '@/services/recipeservice'
import RecipeForm from '@/components/RecipeForm'

export default {
  name: 'Edit',
  data () {
    return {
      recipe: {
      },
      childDataLoaded: false,
      temp: {},
    }
  },
  components: {
    'recipe-form': RecipeForm
  },
  created () {
    this.getRecipe()
  },
  methods: {
    getRecipe: function () {
      RecipeService.fetchRecipeByID(this.$router.params)
        .then(response => {
          this.recipe = response.data
          this.childDataLoaded = true
          console.log('Getting Recipe in Edit: ' + JSON.stringify(this.recipe, null, 5))
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    updateRecipe: function (recipe) {
      RecipeService.editRecipe(this.$router.params, recipe)
        .then(response => {
          console.log(response)
          console.log('AFTER PUT ' + JSON.stringify(recipe, null, 5))
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
      alert("Updated successful")
    }
  }
}
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
