<template>
  <div class="dialog">
    <div class="loginPage">
      <h1>Login</h1>
      <el-form>
        <el-form-item label="User">
          <el-input type="text" id="user" v-model="dataForm.user" @blur="inputBlur('user',dataForm.user)"></el-input>
          <p>{{dataForm.userError}}</p>
        </el-form-item>
        <el-form-item label="Password">
          <el-input type="password" id="password" v-model="dataForm.password" @blur="inputBlur('password',dataForm.password)"></el-input>
          <p>{{dataForm.passwordError}}</p>
        </el-form-item>
        <el-button id="loginButton" type="primary" @click="submitForm()" v-bind:disabled="dataForm.beDisabled">Submit</el-button>
        <el-button @click="resetForm">Reset</el-button>
      </el-form>
    </div>
  </div>
</template>

<script>/* eslint-disable */

import UserService from '@/services/userservice'

export default {
  name: 'login',
  data () {
    return {
      user: [],
      state: '',
      errors: [],
      dataForm: {
        user: '',
        userError: '',
        password: '',
        passwordError: '',
        beDisabled: true
      },
      beShow: false//passing value to parents
    }
  },
  /*props:[
          'fromParent'
  ],*/
  methods: {
    resetForm:function(){
      this.dataForm.user = '';
      this.dataForm.userError = '';
      this.dataForm.password = '';
      this.dataForm.passwordError = '';
    },
    submitForm:function(){
      //passing value to parents
      //this.$emit('showState', [this.beShow,this.dataForm.user])

      let user = this.dataForm.user,
        password = this.dataForm.password;
      console.log(user,password)
      UserService.fetchUser(user)
        .then(res => {
          this.user = res.data
          if (this.user.password == this.dataForm.password){
            this.state = user
            this.$store.commit('loginState', this.state)
            this.$router.push('/community')
            console.log(this.state)
          }
          else {
            alert("Username and password do not match")
          }
          console.log(res)

        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    inputBlur:function(errorItem,inputContent){
      if (errorItem === 'user') {
        if (inputContent === '') {
          this.dataForm.userError = 'Username can not be empty'
        }else{
          this.dataForm.userError = '';
        }
      }else if(errorItem === 'password') {
        if (inputContent === '') {
          this.dataForm.passwordError = 'Password can not be empty'
        }else{
          this.dataForm.passwordError = '';
        }
      }
      //button states
      if (this.dataForm.user != '' && this.dataForm.password != '') {
        this.dataForm.beDisabled = false;
      }else{
        this.dataForm.beDisabled = true;
      }
    }
  }
}

</script>

<style scoped>
  html,body{
    margin: 0;
    padding: 0;
    position: relative;
  }
  .dialog{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
  }
  .loginPage{
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -175px;
    width: 350px;
    min-height: 300px;
    padding: 30px 20px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
  }
  .loginPage p{
    color: red;
    text-align: left;
  }
</style>
