<template>
  <div>
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <el-divider content-position="left"><h1>My Recipes</h1></el-divider>
    <el-row>
      <el-col :span="5" v-for="(o, index) in recipes.length" :key="o" :offset="index > 0 ? 2 : 0" style="margin-left: 10%; margin-top: 30px; margin-bottom: 30px">
        <el-card :body-style="{ padding: '15px' }">
          <div style="padding: 14px;">
            <span style="font-weight: bold">{{recipes[index].name}}</span><br>
            <span style="font-style: italic">by {{recipes[index].username}}</span>
            <div class="bottom clearfix">
              <time class="time">{{ recipes[index].date }}</time>
              <br>
              <br>
                <span>like: {{recipes[index].like}}</span>
              <br>
              <br>
              <el-collapse>
                <el-collapse-item>
                  <template slot="title">type <el-badge :value="recipes[index].type.length" class="item"></el-badge>
                  </template>
                  <div v-for="type in recipes[index].type" :key="type">
                    <div style="font-style: italic">{{type}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">ingredients <el-badge :value="recipes[index].ingredients.length" class="item"></el-badge>
                  </template>
                  <div v-for="ingredients in recipes[index].ingredients" :key="ingredients">
                    <div style="font-style: italic">{{ingredients}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">process <el-badge :value="recipes[index].process.length" class="item"></el-badge>
                  </template>
                  <div v-for="process in recipes[index].process" :key="process">
                    <div style="font-style: italic">{{process}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
              </el-collapse>
              <el-collapse>
                <el-collapse-item>
                  <template slot="title">Comment <el-badge :value="recipes[index].comment.length" class="item"><i class="header-icon el-icon-chat-line-round"></i></el-badge>
                  </template>
                  <div v-for="comment in recipes[index].comment" :key="comment">
                    <div style="font-style: italic">{{comment.username}}: {{comment.text}}</div>
                    <div>time: {{comment.date}}</div>
                    <el-button style="margin-top: 5px" size="small" icon="el-icon-delete" @click="deleteComment(recipes[index]._id, comment._id)"></el-button>
                    <el-divider></el-divider>
                  </div>
                  <el-input v-model="newComment"></el-input><el-button style="margin-top: 10px" @click="addComment(recipes[index]._id)">Comment</el-button>
                </el-collapse-item>
              </el-collapse>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-divider content-position="left"><h1>Data Table</h1></el-divider>
    <div id="app1" style="margin-top: 50px">
      <v-client-table :columns="columns" :data="recipes" :options="options">
        <a slot="edit" slot-scope="props" class="fa fa-edit fa-2x" @click="edit(props.row._id)"></a>
        <a slot="delete" slot-scope="props" class="fa fa-trash-o fa-2x" @click="deleteRecipe(props.row._id)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>/* eslint-disable */
import RecipeService from '@/services/recipeservice'
import Vue from 'vue'
import VueTables from 'vue-tables-2'
import VueSweetalert2 from 'vue-sweetalert2'

Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})
Vue.use(VueSweetalert2)

  export default {
    name: 'Recipes',
    data () {
      return {
        messagetitle: ' Manage Recipes ',
        recipes: [],
        errors: [],
        columns: ['_id', 'name', 'username', 'ingredients', 'process', 'type', 'date', 'like', 'comment', 'edit', 'delete'],
        options: {
          headings: {
            name: 'Name',
            username: 'User',
            content: 'Content',
            date: 'Date',
            like: 'Like',
            comment: 'Comment'
          }
        },
        newComment: '',
        props: ['_id']
      }
    },
    created () {
      this.loadRecipes()
    },
    methods: {
      loadRecipes: function () {
        RecipeService.fetchRecipesByName(this.$store.state.userState)
          .then(response => {
            // JSON responses are automatically parsed.
            this.recipes = response.data
            console.log(this.recipes)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      addComment: function (id) {
        let comment = {
          username: this.$store.state.userState,
          text: this.newComment,
          date: Date.now()
        }
        RecipeService.postComment(id, comment)
          .then(response => {
            this.loadRecipes()
            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      deleteComment: function (id, cid) {
        RecipeService.deleteComment(id, cid)
          .then(response => {
            this.loadRecipes()
            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      edit: function (id) {
        this.$router.params = id
        this.$router.push('edit')
      },
      deleteRecipe: function (id) {
        this.$swal({
          title: 'Are you totaly sure?',
          text: 'You can\'t Undo this action',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'OK Delete it',
          cancelButtonText: 'Cancel',
          showCloseButton: true,
          showLoaderOnConfirm: true
        }).then((result) => {
          console.log('SWAL Result : ' + result)
          if (result === true) {
            RecipeService.deleteRecipe(id)
              .then(response => {
                // JSON responses are automatically parsed.
                this.message = response.data
                console.log(this.message)
                this.loadRecipes()
                // Vue.nextTick(() => this.$refs.vuetable.refresh())
                this.$swal('Deleted', 'You successfully deleted this Recipe ' + JSON.stringify(response.data, null, 5), 'success')
              })
              .catch(error => {
                this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
                this.errors.push(error)
                console.log(error)
              })
          } else {
            this.$swal('Cancelled', 'Your Recipe still Counts!', 'info')
          }
        })
      }
    }
  }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

  #app1 {
    width: 80%;
    margin: 0 auto;
  }

</style>
