<template>
  <div class="dialog">
    <div class="registerPage">
      <h1>Register</h1>
      <el-form>
        <el-form-item label="User">
          <el-input type="text" id="user" v-model="dataForm.user" @blur="inputBlur('user',dataForm.user)"></el-input>
          <p>{{dataForm.userError}}</p>
        </el-form-item>
        <el-form-item label="Password">
          <el-input type="password" id="password" v-model="dataForm.password" @blur="inputBlur('password',dataForm.password)"></el-input>
          <p>{{dataForm.passwordError}}</p>
        </el-form-item>
        <el-form-item label="Confirm Password">
          <el-input type="password" id="confirmPassword" v-model="dataForm.confirmPassword" @blur="inputBlur('confirmPassword',dataForm.confirmPassword)"></el-input>
          <p>{{dataForm.confirmPasswordError}}</p>
        </el-form-item>
        <el-radio v-model="dataForm.sex" label="male">Male</el-radio>
        <el-radio v-model="dataForm.sex" label="female">Female</el-radio><br><br>
        <el-button id="registerButton" type="primary" @click="submitForm('dataForm')" v-bind:disabled="dataForm.beDisabled">Submit</el-button>
        <el-button id="resetButton" @click="resetForm">Reset</el-button>
      </el-form>
    </div>
  </div>
</template>

<script>/* eslint-disable */

import UserService from '@/services/userservice'
export default {
  name: 'login',
  data () {
    return {
      user: [],
      state: '',
      errors: [],
      dataForm: {
        user: '',
        userError: '',
        password: '',
        passwordError: '',
        confirmPassword: '',
        confirmPasswordError: '',
        sex: "male",
        beDisabled: true
      },
      beShow: false//passing value to parents
    }
  },
  /*props:[
          'fromParent'
  ],*/
  methods: {
    resetForm:function(){
      this.dataForm.user = '';
      this.dataForm.userError = '';
      this.dataForm.password = '';
      this.dataForm.passwordError = '';
      this.dataForm.confirmPassword = '';
      this.dataForm.confirmPasswordError = '';
    },
    submitForm:function(){
      //passing value to parents
      //this.$emit('showState', [this.beShow,this.dataForm.user])

      let user = {
        name: this.dataForm.user,
        password: this.dataForm.password,
        sex: this.dataForm.sex
      }
      UserService.fetchUser(user.name)
        .then(res => {
          this.user = res.data
          if (this.user.message != "User NOT Found By Name!!"){
            alert("Username already have")
          }
          else {
            UserService.postUser(user)
              .then(res => {
                this.user = res.data
                this.state = this.dataForm.user
                this.$store.commit('registerState', this.state)
                this.$router.push('/community')
                console.log(res)
              })
              .catch(error => {
                this.errors.push(error)
                console.log(error)
              })
          }
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
      console.log(user)
    },
    inputBlur:function(errorItem,inputContent){
      if (errorItem === 'user') {
        if (inputContent === '') {
          this.dataForm.userError = 'Username can not be empty'
        } else{
          this.dataForm.userError = '';
        }
      } else if(errorItem === 'password') {
        if (inputContent === '') {
          this.dataForm.passwordError = 'Password can not be empty'
        } else{
          this.dataForm.passwordError = '';
        }
      } else if(errorItem === 'confirmPassword') {
        if (inputContent === '') {
          this.dataForm.confirmPasswordError = 'ConfirmPassword can not be empty'
        } else if (this.dataForm.password != this.dataForm.confirmPassword) {
          this.dataForm.confirmPasswordError = 'Both password are different'
        } else{
          this.dataForm.confirmPasswordError = '';
        }
      }
      //button states
      if (this.dataForm.user != '' && this.dataForm.password != '' && this.dataForm.confirmPassword != '' && this.dataForm.password == this.dataForm.confirmPassword) {
        this.dataForm.beDisabled = false;
      }else{
        this.dataForm.beDisabled = true;
      }
    }
  }
}
</script>

<style scoped>
  html,body{
    margin: 0;
    padding: 0;
    position: relative;
  }
  .dialog{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
  }
  .registerPage{
     position: absolute;
     left: 50%;
     margin-top: 50px;
     margin-left: -175px;
     width: 350px;
     min-height: 300px;
     padding: 30px 20px 20px;
     border-radius: 8px;
     box-sizing: border-box;
     background-color: #fff;
   }
  .registerPage p{
    color: red;
    text-align: left;
  }
</style>
