<template>
  <div>
    <h3 class="vue-title"><i class="fa fa-search" style="padding: 3px"></i>{{messagetitle}}</h3>
    <el-row>
      <el-col :span="5" v-for="(o, index) in recipes.length" :key="o" :offset="index > 0 ? 2 : 0" style="margin-left: 10%; margin-top: 30px; margin-bottom: 30px">
        <el-card :body-style="{ padding: '15px' }">
          <div style="padding: 14px;">
            <span style="font-weight: bold">{{recipes[index].name}}</span><br>
            <span style="font-style: italic">by {{recipes[index].username}}</span>
            <div class="bottom clearfix">
              <time class="time">{{ recipes[index].date }}</time>
              <br>
              <br>
              <el-badge :value="recipes[index].like" class="item">
                <el-button type="primary" class="button" icon="el-icon-collection-tag" @click="upLike(recipes[index])">Like</el-button>
              </el-badge>
              <br>
              <br>
              <el-collapse>
                <el-collapse-item>
                  <template slot="title">type <el-badge :value="recipes[index].type.length" class="item"></el-badge>
                  </template>
                  <div v-for="type in recipes[index].type" :key="type">
                    <div style="font-style: italic">{{type}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">ingredients <el-badge :value="recipes[index].ingredients.length" class="item"></el-badge>
                  </template>
                  <div v-for="ingredients in recipes[index].ingredients" :key="ingredients">
                    <div style="font-style: italic">{{ingredients}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">process <el-badge :value="recipes[index].process.length" class="item"></el-badge>
                  </template>
                  <div v-for="process in recipes[index].process" :key="process">
                    <div style="font-style: italic">{{process}}</div>
                    <el-divider></el-divider>
                  </div>
                </el-collapse-item>
              </el-collapse>
              <el-collapse>
                <el-collapse-item>
                  <template slot="title">Comment <el-badge :value="recipes[index].comment.length" class="item"><i class="header-icon el-icon-chat-line-round"></i></el-badge>
                  </template>
                  <div v-for="comment in recipes[index].comment" :key="comment">
                    <div style="font-style: italic">{{comment.username}}: {{comment.text}}</div>
                    <div>time: {{comment.date}}</div>
                    <el-divider></el-divider>
                  </div>
                  <el-input v-model="newComment"></el-input><el-button style="margin-top: 10px" @click="addComment(recipes[index]._id)">Comment</el-button>
                </el-collapse-item>
              </el-collapse>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>/* eslint-disable */
import RecipeService from '@/services/recipeservice'
  export default {
    name: 'SearchResult',
    data () {
      return {
        messagetitle: ' Search Result ',
        recipes: [],
        errors: [],
        recipeName: '',
        newComment: ''
      }
    },
    created () {
      this.loadRecipes()
    },
    methods: {
      loadRecipes: function () {
        this.recipeName = this.$store.state.recipeName
        console.log(this.recipeName)
        RecipeService.search(this.recipeName)
          .then(response => {
            // JSON responses are automatically parsed.
            this.recipes = response.data
            console.log(this.recipes)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      }
    }
  }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
