<template>
  <el-container>
    <el-aside width="200px">
      <el-menu default-active="2">
        <el-menu-item id="4" index="4" @click="showto4">
          <i class="el-icon-user"></i>
          <span slot="title">Profile</span>
        </el-menu-item>
        <el-menu-item id="1" index="1" @click="showto1">
          <i class="el-icon-unlock"></i>
          <span slot="title">Change Password</span>
        </el-menu-item>
        <el-menu-item id="2" index="2" @click="showto2">
          <i class="el-icon-setting"></i>
          <span slot="title">Change Information</span>
        </el-menu-item>
        <el-menu-item id="3" index="3" @click="showto3">
          <i class="el-icon-delete"></i>
          <span slot="title">Remove User</span>
        </el-menu-item>
      </el-menu>
    </el-aside>
    <el-main>
      <el-form id="profile" v-if="show4">
        <h1>User Profile</h1>
        <h3 id="name">name: {{this.user.name}}</h3>
        <h3 id="sex">sex: {{this.user.sex}}</h3>
        <h3 id="info">personal information: {{this.user.personal_lnfo}}</h3>
      </el-form>
      <el-form id="changePassword" v-if="show1">
        <h1>Change Password</h1>
<!--        <el-form-item label="Old Password">-->
<!--          <el-input type="password" id="oldPassword" v-model="oldPassword" @blur="inputBlur('password',oldPassword)"></el-input>-->
<!--          <p>{{oldPasswordError}}</p>-->
<!--        </el-form-item>-->
        <el-form-item label="New Password">
          <el-input type="password" id="newPassword" v-model="newPassword" @blur="inputBlur('password',newPassword)"></el-input>
          <p style="color: red">{{newPasswordError}}</p>
        </el-form-item>
        <el-form-item label="Confirm Password">
          <el-input type="password" id="confirmPassword" v-model="confirmPassword" @blur="inputBlur('confirmPassword',confirmPassword)"></el-input>
          <p style="color: red">{{confirmPasswordError}}</p>
        </el-form-item>
        <el-button type="primary" @click="submitForm()" v-bind:disabled="beDisabled">Submit</el-button>
      </el-form>
      <el-form id="changeInformation" v-if="show2">
        <h1>Change Information</h1>
        <el-form-item label="Sex: ">
          <el-radio v-model="sex" label="male">Male</el-radio>
          <el-radio v-model="sex" label="female">Female</el-radio><br><br>
        </el-form-item>
        <el-form-item label="Personal Information: ">
          <el-input type="text" id="personal" v-model="personalInfor"></el-input>
        </el-form-item>
        <el-button style="margin-top: 10px" type="primary" id="change" @click="changeInfo()">Submit</el-button>
      </el-form>
      <el-form id="removeUser" v-if="show3">
        <h1>Remove User</h1>
        <el-button type="primary" @click="removeUser()">Remove User</el-button>
      </el-form>
    </el-main>
  </el-container>
</template>

<script>/* eslint-disable */
import UserService from '@/services/userservice'
  export default {
    name: 'User',
    data () {
      return {
        user: [],
        oldPassword: '',
        newPassword: '',
        confirmPassword: '',
        sex: 'male',
        personalInfor: '',
        oldPasswordError: '',
        newPasswordError: '',
        confirmPasswordError: '',
        beDisabled: true,
        show1: false,
        show2: false,
        show3: false,
        show4: false
      }
    },
    created () {
      this.loadUser()
    },
    methods: {
      loadUser: function () {
        UserService.fetchUser(this.$store.state.userState)
          .then(response => {
            // JSON responses are automatically parsed.
            this.user = response.data
            console.log(this.recipes)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      showto1: function () {
        this.show1 = true
        this.show2 = false
        this.show3 = false
        this.show4 = false
      },
      showto2: function () {
        this.show2 = true
        this.show1 = false
        this.show3 = false
        this.show4 = false
      },
      showto3: function () {
        this.show3 = true
        this.show1 = false
        this.show2 = false
        this.show4 = false
      },
      showto4: function () {
        this.show4 = true
        this.show1 = false
        this.show2 = false
        this.show3 = false
        this.loadUser()
      },
      submitForm: function () {
        let user = {
          password: this.newPassword
        }
        UserService.changePassword(this.user._id, user)
          .then(res => {
            console.log(res)
            alert('Change Password Success!')
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      changeInfo: function () {
        let user = {
          sex: this.sex,
          personal_lnfo: this.personalInfor
        }
        UserService.editInfo(this.user._id, user)
          .then(res => {
            console.log(res)
            alert('Change Information Success!')
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      removeUser: function () {
        UserService.deleteUser(this.user._id)
          .then(res => {
            console.log(res)
            this.$store.commit('signOutState')
            alert('Remove Success!')
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      inputBlur:function(errorItem,inputContent){
        if(errorItem === 'password') {
          if (inputContent === '') {
            this.newPasswordError = 'Password can not be empty'
          } else{
            this.newPasswordError = '';
          }
        } else if(errorItem === 'confirmPassword') {
          if (inputContent === '') {
            this.confirmPasswordError = 'ConfirmPassword can not be empty'
          } else if (this.newPassword != this.confirmPassword) {
            this.confirmPasswordError = 'Both password are different'
          } else{
            this.confirmPasswordError = '';
          }
        }
        //button states
        if (this.newPassword != '' && this.confirmPassword != '' && this.newPassword == this.confirmPassword) {
          this.beDisabled = false;
        }else{
          this.beDisabled = true;
        }
      }
    }
  }
</script>

<style scoped>

</style>
