<template>
  <div>
    <b-nav-item-dropdown  id="state" class="fa" :text="UserName" style="padding: 5px"><i class="fa fa-user" style="padding: 5px"> User </i>
      <b-dropdown-item to="/user"> Profile</b-dropdown-item>
      <b-dropdown-item @click="signOut"> Sign Out</b-dropdown-item>
    </b-nav-item-dropdown>
  </div>
</template>

<script>/* eslint-disable */

  export default {
    name: 'UserState',
    props: ['states'],
    data () {
      return {
        state: 'User'
      }
    },
    computed: {
      UserName(){
        return this.$store.state.userState
      }
    },
    methods: {
      signOut(){
        this.$store.commit('signOutState')
      }
    }
  }
</script>

<style scoped>

</style>
