<!--<template>-->
<!--  <div>-->
<!--    <h3 class="vue-title"><i class="fa fa-book" style="padding: 3px"></i>{{messagetitle}}</h3>-->
<!--    <div class="writePage">-->
<!--      <el-form ref="form" :model="form" label-width="100px">-->
<!--        <el-form-item label="Recipe Title">-->
<!--          <el-input v-model="form.name" @blur="inputBlur('name',form.name)"></el-input>-->
<!--          <p style="color: red">{{form.nameError}}</p>-->
<!--        </el-form-item>-->
<!--        <el-form-item label="Recipe Type">-->
<!--          <el-input  v-for="(item,i) of form.type" :key="i" v-model="form.type[i]"></el-input>-->
<!--          <el-button type="primary" icon="el-icon-plus" @click="addType" circle></el-button>-->
<!--        </el-form-item>-->
<!--        <el-form-item label="Ingredients">-->
<!--          <el-input v-for="(item,i) of form.ingredients" :key="i" v-model="form.ingredients[i]"></el-input>-->
<!--          <el-button type="primary" icon="el-icon-plus" @click="addIngredient" circle></el-button>-->
<!--        </el-form-item>-->
<!--        <el-form-item label="Process">-->
<!--          <el-input v-for="(item,i) of form.process" :key="i" v-model="form.process[i]"></el-input>-->
<!--          <el-button type="primary" icon="el-icon-plus" @click="addProcess" circle></el-button>-->
<!--        </el-form-item>-->
<!--        <br>-->
<!--        <el-form-item>-->
<!--          <el-button type="primary" @click="onSubmit" v-bind:disabled="form.beDisabled">submit</el-button>-->
<!--          <el-button @click="resetForm">reset</el-button>-->
<!--        </el-form-item>-->
<!--      </el-form>-->
<!--    </div>-->
<!--  </div>-->
<!--</template>-->

<!--<script>/* eslint-disable */-->
<!--import RecipeService from '@/services/recipeservice'-->
<!--import Vue from 'vue'-->
<!--import VueForm from 'vueform'-->
<!--import Vuelidate from 'vuelidate'-->
<!--import VueSweetalert from 'vue-sweetalert'-->

<!--Vue.use(VueForm, {-->
<!--  inputClasses: {-->
<!--    valid: 'form-control-success',-->
<!--    invalid: 'form-control-danger'-->
<!--  }-->
<!--})-->

<!--Vue.use(Vuelidate)-->
<!--Vue.use(VueSweetalert)-->

<!--export default {-->
<!--  name: 'WriteRecipe',-->
<!--  data() {-->
<!--    return {-->
<!--      messagetitle: 'Write your recipe!',-->
<!--      form: {-->
<!--        nameError: '',-->
<!--        name: '',-->
<!--        username: this.$store.state.userState,-->
<!--        type: [],-->
<!--        ingredients: [],-->
<!--        process: [],-->
<!--        beDisabled: true-->
<!--      }-->
<!--    }-->
<!--  },-->
<!--  methods: {-->
<!--    addType() {-->
<!--      this.form.type.push('')-->
<!--    },-->
<!--    addIngredient() {-->
<!--      this.form.ingredients.push('')-->
<!--    },-->
<!--    addProcess() {-->
<!--      this.form.process.push('')-->
<!--    },-->
<!--    onSubmit() {-->
<!--      let recipe ={-->
<!--        name: this.form.name,-->
<!--        username: this.form.username,-->
<!--        type: this.form.type,-->
<!--        ingredients: this.form.ingredients,-->
<!--        process: this.form.process-->
<!--      }-->
<!--      RecipeService.postRecipe(recipe)-->
<!--        .then(response => {-->
<!--          console.log(response)-->
<!--        })-->
<!--        .catch(error => {-->
<!--          this.errors.push(error)-->
<!--          console.log(error)-->
<!--        })-->
<!--      alert("Submitted successful")-->
<!--      console.log('submit!');-->
<!--    },-->
<!--    inputBlur: function (errorItem,inputContent) {-->
<!--      if (errorItem === 'name') {-->
<!--        if (inputContent === '') {-->
<!--          this.form.nameError = 'Recipe title can not be empty'-->
<!--        } else{-->
<!--          this.form.nameError = '';-->
<!--        }-->
<!--      }-->
<!--      //button states-->
<!--      if (this.form.name != '') {-->
<!--        this.form.beDisabled = false;-->
<!--      }else{-->
<!--        this.form.beDisabled = true;-->
<!--      }-->
<!--    }-->
<!--  }-->
<!--}-->

<!--</script>-->

<!--<style scoped>-->
<!--  .vue-title {-->
<!--    margin-top: 30px;-->
<!--    text-align: center;-->
<!--    font-size: 45pt;-->
<!--    margin-bottom: 10px;-->
<!--  }-->

<!--  .writePage{-->
<!--    font-weight: bold;-->
<!--    position: absolute;-->
<!--    text-align: left;-->
<!--    left: 33%;-->
<!--    margin-top: 10px;-->
<!--    width: 600px;-->
<!--    min-height: 300px;-->
<!--    padding: 30px 20px 20px;-->
<!--    border-radius: 8px;-->
<!--    box-sizing: border-box;-->
<!--    background-color: #fff;-->
<!--  }-->
<!--</style>-->
<template>
  <div id="app1">
    <recipe-form :recipe="recipe" @recipe-is-created-updated="submitRecipe"></recipe-form>
  </div>
</template>

<script>/* eslint-disable */
  import RecipeService from '@/services/recipeservice'
  import RecipeForm from '@/components/RecipeForm'

  export default {
    data () {
      return {
        recipe: {
          nameError: '',
          name: '',
          username: this.$store.state.userState,
          type: [],
          ingredients: [],
          process: []
        }
      }
    },
    components: {
      'recipe-form': RecipeForm
    },
    methods: {
      submitRecipe: function (recipe) {
        RecipeService.postRecipe(recipe)
          .then(response => {
            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
        alert("Submitted successful")
        console.log('submit!');
      }
    }
  }
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
