<template>
  <div id="app" style="margin-top: 0px">
    <b-navbar toggleable="md" variant="danger" type="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <img src="./assets/cookicon.png" class="img-circle" style="padding: 5px">
      <b-navbar-brand to="/">Cooking Share</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/community"><i class="fa fa-users" style="padding: 5px"> Community</i></b-nav-item>
          <b-nav-item to="/write"><i class="fa fa-book" style="padding: 5px"> Write Recipes</i></b-nav-item>
          <b-nav-item to="/recipes"><i class="fa fa-list" style="padding: 5px"> Manage Recipes</i></b-nav-item>
        </b-navbar-nav>

        <b-nav-form>
          <b-form-input class="mr-sm-2" placeholder="Search" v-model="recipeName"></b-form-input>
          <b-button variant="outline-dark" class="my-2 my-sm-0" type="submit" @click="fuzzySearch">Search</b-button>
        </b-nav-form>

        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/about"><i class="fa fa-info" style="padding: 5px"> About Us</i></b-nav-item>
          <user-state></user-state>
          <i class="fa fa-pied-piper-alt fa-1x" style="padding: 5px; color: white;"></i>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>/* eslint-disable */
import UserState from '@/components/UserState'
import RecipeService from '@/services/recipeservice'

export default {
  name: 'App',
  components: {
    'user-state': UserState
  },
  data () {
    return {
      recipeName: ''
    }
  },
  methods: {
    fuzzySearch: function () {
      this.$store.commit('searchName', this.recipeName)
      this.$router.push('/result')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
